<h3>Iterating over the getter</h3>

<form [formGroup]="foodForm">
	<label>Name: </label>
	<input formControlName="foodName" /><br>
	<section [formGroup]="foodForm.controls.tags">
    <ng-container *ngFor="let tag of tagsForForm | keyvalue">
      <label>
        <input [formControlName]="tag.key" type="checkbox">
        {{ tag.key | titlecase }}
      </label>
      <br>
    </ng-container>
  </section>
</form>

<h3>Iterating over the `tags` variable</h3>

<form [formGroup]="foodForm">
	<label>Name: </label>
	<input formControlName="foodName" /><br>
	<section [formGroup]="foodForm.controls.tags">
    <ng-container *ngFor="let tag of tags">
      <label>
        <input [formControlName]="tag" type="checkbox">
        {{ tag | titlecase }}
      </label>
      <br>
    </ng-container>
  </section>
</form>

<br>
<pre>Form Values: {{ foodForm.value | json }}</pre>
